<section class="col-xs-8 col-xs-offset-2 time_entries_day">
  <%= render "header", tasks: tasks %>

  <% tasks.each do |task| %>
    <div class="row-fluid" data-id=<%= task.id %>>
      Task: <%= task.name %> -- 
      Start Time: <%= task.start_time_formatted %>
      Stop Time: <%= task.stop_time_formatted %>
      Duration: <%= task.duration %>
    </div>
    <hr>
  <% end %>
</section>
