<div class="row">
  <div class="col-xs-12" id="stopwatch">
    <div class="col-xs-6 col-xs-offset-2">
      <%= text_field_tag "task", nil, placeholder: "Enter task name here", 
        id: "task_field", role: "task_field" %>
    </div>
    <div class="col-xs-1" id="clock_label">
      <%= label_tag "timer", "00:00:00.0", role: "clock_label" %>
    </div>
    <div class="col-xs-1" id="stopwatch_button">
      <%= button_tag "Start", class: "btn btn-success", role: "stopwatch_button" %>
    </div>
  </div>
</div>

<div class="row" id="time_entry_list" role="time_entry_list">
  <%= render "tasks/all_tasks_for_week" %>
</div>

<div class="row" id="graph_footer">
  <%= render "graph_footer" %>
</div>
