<div class="row-fluid" data-id=<%= task.id %>>
  Task: <%= task.name %> -- 
  <span><small>Start Time: <%= task.start_time_formatted %></small></span>
  <span><small>Stop Time: <%= task.stop_time_formatted %></small></span>
  Duration: <%= task.duration %>
</div>
