<div class="row task well" data-id=<%= task.id %> role="tasks">
  <div class="col-xs-6">
    Task: <%= task.name %>
  </div>

  <div class="col-xs-2 project_name">
    <%# <%= task.project.name if task.project %1> %>
    <%= task.project_name %>
  </div>

  <div class="col-xs-1 task_duration">
    <%= task.duration_formatted %>
  </div>
  <div class="col-xs-3 time_span">
    <small><%= task.time_span %></small>
  </div>
</div>
