<div class="row-fluid" data-id=<%= task.id %> role="tasks">
  Task: <%= task.name %> -- 
  <span><small>Start Time: <%= task.start_time_formatted %></small></span>
  <span><small>Stop Time: <%= task.stop_time_formatted %></small></span>
  Duration: <%= task.duration_formatted %>
</div>
<hr>
