<header>
  <nav class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <%= link_to "Time Tracker", root_path, class: "navbar-brand" %>
        </ul>
        <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li><%= link_to "Projects", projects_path %></li>
          <li><%= link_to "Reports", reports_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Account", edit_user_registration_path(current_user) %>
          </li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
